<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxplatform.mapper.PoliticalStatusInfoMapper">
  <resultMap id="BaseResultMap" type="com.wxplatform.pojo.PoliticalStatusInfo">
    <id column="politicalstatusid" jdbcType="INTEGER" property="politicalstatusid" />
    <result column="politicalstatusname" jdbcType="VARCHAR" property="politicalstatusname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    politicalstatusid, politicalstatusname
  </sql>
  <select id="selectByExample" parameterType="com.wxplatform.pojo.PoliticalStatusInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from politicalstatusinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from politicalstatusinfo
    where politicalstatusid = #{politicalstatusid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from politicalstatusinfo
    where politicalstatusid = #{politicalstatusid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wxplatform.pojo.PoliticalStatusInfo">
    insert into politicalstatusinfo (politicalstatusid, politicalstatusname
      )
    values (#{politicalstatusid,jdbcType=INTEGER}, #{politicalstatusname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wxplatform.pojo.PoliticalStatusInfo">
    insert into politicalstatusinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="politicalstatusid != null">
        politicalstatusid,
      </if>
      <if test="politicalstatusname != null">
        politicalstatusname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="politicalstatusid != null">
        #{politicalstatusid,jdbcType=INTEGER},
      </if>
      <if test="politicalstatusname != null">
        #{politicalstatusname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxplatform.pojo.PoliticalStatusInfo">
    update politicalstatusinfo
    <set>
      <if test="politicalstatusname != null">
        politicalstatusname = #{politicalstatusname,jdbcType=VARCHAR},
      </if>
    </set>
    where politicalstatusid = #{politicalstatusid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxplatform.pojo.PoliticalStatusInfo">
    update politicalstatusinfo
    set politicalstatusname = #{politicalstatusname,jdbcType=VARCHAR}
    where politicalstatusid = #{politicalstatusid,jdbcType=INTEGER}
  </update>
</mapper>